* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
}

a {
  color: inherit;
}

button {
  cursor: pointer;
}

.container {
  width: 30%;
  margin: 0 auto;
}

@media (min-width: 1440px) {
  .container {
    width: 1140px;
  }
}
.df {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#bactop {
  position: fixed;
  bottom: 50px;
  right: 30px;
  background: skyblue;
  font-size: 22px;
  padding: 6px 10px;
  border-radius: 50%;
  display: none;
}

.show-bactop {
  display: block !important;
}

nav {
  position: fixed;
  top: 0px;
  left: 0;
  width: 100%;
  padding: 25px 0px;
  z-index: 999;
}

.show-navshrink {
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.1333333333);
  background: white;
}

.header__nav-logo {
  font-size: 30px;
  font-weight: 700;
}

.header__nav-right,
.header__nav-list,
.header__nav-btns {
  gap: 20px;
}

.header__nav-list {
  gap: 15px;
}

.header__nav-item {
  font-size: 18px;
  font-weight: 600;
  padding: 5px;
  border-bottom: 1.5px solid transparent;
  transition: 0.3s;
  position: relative;
}

.header__nav-item:hover {
  color: darkblue;
}

.nav__right-border {
  position: absolute;
  width: 2px;
  height: 0%;
  background: orange;
  bottom: 0;
  right: 0px;
  transition: 0.3s;
}

.nav__left-border {
  position: absolute;
  width: 2px;
  height: 0%;
  background: orange;
  top: 0;
  left: 0px;
  transition: 0.3s;
}

.header__nav__contact-btn {
  padding: 6px 15px;
  border: 1.5px solid black;
  border-radius: 2px;
  background: transparent;
  font-size: 16px;
  font-weight: 600;
  transition: 0.3s;
}

.header__nav__contact-btn:hover {
  background: rgb(164, 77, 92);
  border: rgb(164, 77, 92);
  border-radius: 10px;
  color: white;
}

.header__nav__hamburger-btn {
  border: none;
  background: transparent;
  display: none;
  flex-direction: column;
  gap: 5px;
}

.header__nav__hamburger-btn span {
  width: 20px;
  height: 2px;
  border-radius: 2px;
  background: black;
}

@media (max-width: 650px) {
  .header__nav-list {
    position: fixed;
    top: 0;
    left: -100%;
    background: white;
    height: 100vh;
    width: 50%;
    flex-direction: column;
    justify-content: center;
    box-shadow: 0px 0px 15px gray;
    transition: 0.4s;
    z-index: 9999;
  }
  .header__nav-item::after {
    height: 2px;
  }
  .header__nav__hamburger-btn {
    display: flex;
  }
  .show-header__nav-list {
    left: 0;
  }
}
main {
  padding-top: 100px;
}

.hero__title {
  width: 500px;
  font-size: 64px;
  line-height: 88px;
  font-weight: 700;
  color: white;
  padding-left: 30px;
  padding-top: 30px;
}

.hero__right {
  background: #051a35;
  border-radius: 30px;
}

.hero__text {
  color: white;
  width: 500px;
  padding-left: 30px;
  padding-top: 30px;
}

.hero__search-img {
  padding-left: 30px;
  padding-top: 40px;
}

.hero__words {
  color: white;
  font-weight: 300;
  padding-left: 60px;
  display: flex;
  gap: 40px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.hero__right {
  display: flex;
  justify-content: space-between;
}

.hero__img {
  padding-top: 100px;
  padding-right: 40px;
}

.trending__title {
  text-align: center;
  margin-top: 50px;
  font-size: 40px;
  color: #1C3554;
}

.trending__item {
  color: #AAAAAA;
  padding: 10px;
  padding-right: 15px;
  padding-left: 15px;
  bottom: none;
}

.trending__item:hover {
  background: rgb(164, 77, 92);
  color: white;
}

.trending__items {
  display: flex;
  gap: 50px;
  justify-content: center;
  padding-top: 50px;
}

.card__title {
  width: 260px;
  padding-top: 20px;
}

.card__text {
  color: rgb(187, 98, 98);
  padding-top: 10px;
  padding-bottom: 10px;
}

.card__cost {
  color: #051a35;
  font-size: 40px;
  font-weight: 700;
}

.trending__card:hover {
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.0666666667);
  width: 263px;
  border-radius: 10px;
}

.trending__cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 40px;
  margin-bottom: 40px;
}

.tranding__btn {
  margin: 0 auto;
  text-align: center;
  display: flex;
  justify-content: center;
  padding-right: 50px;
  padding-left: 50px;
  position: relative;
  left: 500px;
  top: 20px;
}

.categories {
  margin-top: 100px;
}

.categories__title {
  font-weight: bold;
  font-size: 40px;
  color: #051a35;
  margin-bottom: 50px;
}

.categories__cards {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}